@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header {
  display: flex;
  flex-direction: row;
  background: black;
  justify-content: space-between;
  width: 100vw;
      padding: 5px;
  background-size: cover;
background-repeat: no-repeat;
  background-image: url(https://doublegeste.com/TheCave/media/3D-model-of-the-cave-from-the-PDF-3D-viewer.png);
  transition: all 0.5s ease-in-out;
  height: 250px;
  opacity: 1;
}
#header a {
margin: auto;
font-family: 'Inter', sans-serif;
}
video {
  object-fit: cover!important;
  width: 100vw;
  z-index: 0;
  position: absolute;
  filter: grayscale();
  opacity: 0.7;
  left: 0;
}

.team img {


width: 120px;
height: 16vw;
}
header button {
  width: 18vw;
  font-family: monospace;
  font-size: 2vw;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 1;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  background: #ffffffa8;
  border-radius: 0.5em;
  /* border-color: white; */
  /* backdrop-filter: drop-shadow(25px 4px 6px green); */
  transition: all 0.3s ease-in-out;
}

header button:hover{
  filter: invert();
}

body {
  margin: 0!important;
/*    	cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' ...") 16 16, pointer;
*/    }

header img {
  width: 20vw;
  filter: invert(100%);

}

.title {
  font-size: 3.5vw;
position: absolute;
color: white;
top: 20px;
/* right: 5vw; */
margin: auto;
width: 100vw;
text-align: center;
}


#first_step {
  width: 50vw;
  margin: auto;
 
  text-align: center;
 
  padding: 1vw;
  border-radius: 1em;
  opacity: 1;
  
  display: block;
  
  /* height: 100vh; */
  color: white;
  padding: 3vw;
  background: #0000004a;
  border-radius: 1em;
  border: solid 3px white;
  backdrop-filter: blur(3px);

}

 /* #first_step button {
  margin-top: 1vw;
width: 100px;
border-radius: 1em;
} */
#second_step  {
  width: 80vw;
  margin: auto;
  background: whitesmoke;
  text-align: center;
  /* margin-top: -40vh; */
  color: white;
  border-radius: 1em;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 3vw;
  background: #0000004a;
  border-radius: 1em;
  border: solid 3px white;
  backdrop-filter: blur(3px);

}

#tools {
  width: 90vw;
  margin: auto;
  background: whitesmoke;
  text-align: center;
  /* margin-top: -40vh; */
  color: white;
  border-radius: 1em;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 3vw;
  background: #0000004a;
  border-radius: 1em;
  border: solid 3px white;
  backdrop-filter: blur(3px);

}

#tools .buttons-entity {
  margin: 1vw;
}
#tools img {
  width: 9.4vw;
  cursor: pointer;
}
#tools .buttons-entity button {
  background-color:transparent;
  color: white;
  border: none;
  border-radius: 1em;
}
#tools .buttons-entity button p {
  background-color:transparent;
  /* color: white; */
  font-size: 1.5vw;
}
#tools .buttons-entity button:hover {
  background-color:#ffffff65;
  transform: scale(1.2);
  color: black;
}
#gender {
  width: 60vw;
  margin: auto;
  background: whitesmoke;
  text-align: center;
  /* margin-top: -40vh; */
  color: white;
  border-radius: 1em;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 3vw;
  background: #0000004a;
  border-radius: 1em;
  border: solid 3px white;
  backdrop-filter: blur(3px);
}

/* #gender button {
  cursor: pointer;
  margin-top: 1vw;
  width: 100px;
  border-radius: 1em;
} */

#gender img {
  width: 120px;
}

button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#third_step {
    width: 50vw;
  margin: auto;
  background: whitesmoke;
  text-align: center;
  margin-top: -40vh;
  padding: 1vw;
  border-radius: 1em;
  opacity: 0;
  display: flex;
  flex-direction: column;
}

.buttons-entity {
display: flex;
flex-direction: row;
justify-content: space-around;
}
#second_step img {
  width: 9.4vw;
  cursor: pointer;
}
/* #second_step button {
  background-color:#ffffff2e;
} */
#second_step button:hover {
  background-color:#ffffff;
  transform: scale(1.2);
}
#third_step img {
  width: 120px;
  cursor:pointer;
}

#motto {
  position: absolute;
  right: 10px;
  top: 200px;
  color: white;
}



.desc {
  text-align: left;
  font-size: 1.5vw;
  margin: auto;
  display: block;
  width: 70vw;
  /* height: 100vh; */
  color: white;
  padding: 3vw;
  background: #0000004a;
  border-radius: 1em;
  border: solid 3px white;
  backdrop-filter: blur(3px);
  
}

.main-container {
  padding: 3vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://doublegeste.com/TheCave/media/le-releve-numerique-3D-de-la-grotte-ornee-du-pont-d-arc.webp);
}

.form_buttons {
  border: solid 1px white;
  border-radius: 1em;
  color: white;
}

.play_buttons {
  border: solid 1px white;
    border-radius: 1em;
    /* color: white; */
    width: 40vw;
    font-size: 5vw;
    text-transform: uppercase;
    padding: 1vw;
    display: block;
    margin: auto;
    background-color: #e3e3e380;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    position: absolute;
    
    left: 30vw;
    margin-top: 15vw;

    
}

.play_buttons2 {
  border: solid 1px white;
    border-radius: 1em;
    /* color: white; */
    width: fit-content;
    font-size: 2vw;
    text-transform: uppercase;
    padding: 1vw;
    display: block;
    margin: auto;
    background-color: #e3e3e380;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin-top: 2vw;
    /* position: absolute; */
    
    /* left: 30vw; */
    /* margin-top: 15vw; */

    
}

.UserInfo {
  color: white;
  z-index: 2;
  position: absolute;
}

.play_buttons:hover {
  filter: invert(100%);
}

.play_buttons2:hover {
  filter: invert(100%);
}

.entity-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.entity-info p {
  min-width: 10.5vw;
}


#art {
  width: 100vw;
  padding: 5px;
  height: 100%;
background-size: cover;
background-repeat: no-repeat;

/* background-image: url(https://doublegeste.com/TheCave/media/le-releve-numerique-3D-de-la-grotte-ornee-du-pont-d-arc.webp); */
 background-image: url(https://doublegeste.com/TheCave/media/image_5951_1-Giant-Sloth-Hunt.jpg);

}
#mytribe {
  width: 100vw;
  height: 100%;
  padding: 5px;
background-size: cover;
background-repeat: no-repeat;
background-image: url(https://doublegeste.com/TheCave/media/aurignac.jpg);
}

#mytribe #picname {
  width:25vw;
}
#mytribe #picname #username {
text-align: center;}

#mytribe #picname #profile_pic {
  width:20vw;
}

#ritual {
  width: 100vw;
  height: 100%;
  padding: 5px;
background-size: cover;
background-repeat: no-repeat;
background-image: url(https://doublegeste.com/TheCave/media/ritual.jpg);
}
#ritual h1 {
  color: white;
}

#dice_result {
  color: white;
  font-size: 5vw;
}

#dice_cont {
  width: fit-content;
  margin: auto;
  position: relative;
  display: none;
}

/* #dice_cont canvas {
  position: absolute;
} */

/* #dices_cont {
  display: flex;
  margin: auto;
} */
