#character {
    background-color: antiquewhite;
    padding: 1vw;
    background-image: url(https://doublegeste.com/TheCave/media/675804291.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#profile_pic {
    width: 25vw;
    /* margin-left: 71vw; */
    /* border: 1vw solid wheat; */
    /* margin: auto; */
    border-radius: 1em;
  }

  .page-title {
    width: 100vw;
    text-align: center;
    color: white;
  }

  #player-info {
    width: 90vw;
    margin: auto;
    
    text-align: center;
    /* margin-top: -40vh; */
    color: black;
    border-radius: 1em;
    opacity: 1;
    display: flex;
    flex-direction: column;
    padding: 3vw;
    background: #ffffff4a;
    border-radius: 1em;
    border: solid 3px white;
    backdrop-filter: blur(3px);
    align-items: flex-start;
  }

  #username {
    font-size: 2vw;
    text-decoration: underline;
  }

  #picname {
    background-color: rgba(255, 255, 255, 0.831);
    border-radius: 1em;
    border: 2px solid black;
    padding: 2vw;
  }

  #subinfos {
    background-color:  rgba(255, 255, 255, 0.831);;
    border: 2px solid black;
    border-radius: 1em;
    padding: 2vw;
    margin-top: 2vw;
    width: 50vw;
    /* justify-content: flex-start; */
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    text-align: left;
  }
